#Name {
	margin-left: 9.7mm;
}

#Link {
	margin-left: 11.8mm;
}

#Author {
	margin-left: 7.8mm;
}

#TypeOne {
	border-style: solid;
	margin-right: 423.9mm;
}

#TypeTwo {
	margin-bottom: 0mm;
}

#TypeThree {
	margin-left: 60.3mm;
}
